
.app-root{}
.pilkarzyki {
  &__bests{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &-best{
      border: 1px solid black;
      min-width: 200px;
      padding: 8px;
      &--small{
        min-width: 100px;
      }
    }
    &-row{
      width: 300px;
    }
    &-title{
      margin-bottom: 24px;
      font-size: 1.75rem;
    }
  }
  &__container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--color-background);
    color: var(--color-gray);
    font-family: Roboto Mono, sans-serif;
  }
  &__footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.6rem;
    height: var(--footer-height);
    &-author{
      color: var(--color-gray);
      transition: color 300ms ease;
      text-decoration: none;
      &:visited{
        color: var(--color-gray);
      }
      &:hover{
        color: var(--color-primary)
      }
      &:active{
        color: var(--color-primary)
      }
    }
  }
    &__main{
      height: calc(100% - var(--nav-height) - var(--footer-height));
    &-page{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &-title{
        margin-top: 40px;
        font-size: 1.9rem;
      }
    }
    }
    &__modal{
      background: var(--color-background) !important;
    }
    &__nav{
      height: var(--nav-height);
      display: flex;
      justify-content: center;
      align-items: center;
      &-link{
        padding: 10px;
        color: var(--color-dark-gray);
        transition: color 300ms ease;
        text-decoration: none;
        &:visited{
          color: var(--color-dark-gray);
        }
        &:hover{
          color: var(--color-primary)
        }
        &:active{
          color: var(--color-primary)
        }
      }
    &-title{}
  }
  &__separator{
    content: '';
    height: 0.1px;
    width: 75vw;
    background: var(--color-black);
    margin: 0 auto;
    opacity: 0.3;
  }
}